# File containing all the relevant paths
paths.sh

# Python virtual environment
env

# Vagrant directory
.vagrant

# IDEs
.vscode/

# Mac
.DS_Store

# Out files
/.idea/.gitignore
**/cmake-build-debug/**
.idea/
**/debug/**
tfhe/.idea/

deps/klee/main.rs